.dark-high-contrast {
  --md-sys-color-primary: rgb(246 236 255);
  --md-sys-color-surface-tint: rgb(211 187 253);
  --md-sys-color-on-primary: rgb(0 0 0);
  --md-sys-color-primary-container: rgb(207 184 248);
  --md-sys-color-on-primary-container: rgb(18 0 48);
  --md-sys-color-secondary: rgb(246 236 255);
  --md-sys-color-on-secondary: rgb(0 0 0);
  --md-sys-color-secondary-container: rgb(201 190 215);
  --md-sys-color-on-secondary-container: rgb(14 8 25);
  --md-sys-color-tertiary: rgb(255 235 238);
  --md-sys-color-on-tertiary: rgb(0 0 0);
  --md-sys-color-tertiary-container: rgb(236 180 193);
  --md-sys-color-on-tertiary-container: rgb(29 2 10);
  --md-sys-color-error: rgb(255 236 233);
  --md-sys-color-on-error: rgb(0 0 0);
  --md-sys-color-error-container: rgb(255 174 164);
  --md-sys-color-on-error-container: rgb(34 0 1);
  --md-sys-color-background: rgb(21 18 24);
  --md-sys-color-on-background: rgb(231 224 232);
  --md-sys-color-surface: rgb(21 18 24);
  --md-sys-color-on-surface: rgb(255 255 255);
  --md-sys-color-surface-variant: rgb(73 69 78);
  --md-sys-color-on-surface-variant: rgb(255 255 255);
  --md-sys-color-outline: rgb(245 237 249);
  --md-sys-color-outline-variant: rgb(199 192 203);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(231 224 232);
  --md-sys-color-inverse-on-surface: rgb(0 0 0);
  --md-sys-color-inverse-primary: rgb(81 62 117);
  --md-sys-color-primary-fixed: rgb(235 220 255);
  --md-sys-color-on-primary-fixed: rgb(0 0 0);
  --md-sys-color-primary-fixed-dim: rgb(211 187 253);
  --md-sys-color-on-primary-fixed-variant: rgb(24 2 59);
  --md-sys-color-secondary-fixed: rgb(234 222 247);
  --md-sys-color-on-secondary-fixed: rgb(0 0 0);
  --md-sys-color-secondary-fixed-dim: rgb(205 194 219);
  --md-sys-color-on-secondary-fixed-variant: rgb(20 14 32);
  --md-sys-color-tertiary-fixed: rgb(255 217 224);
  --md-sys-color-on-tertiary-fixed: rgb(0 0 0);
  --md-sys-color-tertiary-fixed-dim: rgb(241 183 196);
  --md-sys-color-on-tertiary-fixed-variant: rgb(37 6 16);
  --md-sys-color-surface-dim: rgb(21 18 24);
  --md-sys-color-surface-bright: rgb(82 79 85);
  --md-sys-color-surface-container-lowest: rgb(0 0 0);
  --md-sys-color-surface-container-low: rgb(33 31 36);
  --md-sys-color-surface-container: rgb(50 47 53);
  --md-sys-color-surface-container-high: rgb(61 58 64);
  --md-sys-color-surface-container-highest: rgb(73 69 76);
}
