.dark-medium-contrast {
  --md-sys-color-primary: rgb(230 213 255);
  --md-sys-color-surface-tint: rgb(211 187 253);
  --md-sys-color-on-primary: rgb(46 26 80);
  --md-sys-color-primary-container: rgb(156 134 195);
  --md-sys-color-on-primary-container: rgb(0 0 0);
  --md-sys-color-secondary: rgb(227 216 241);
  --md-sys-color-on-secondary: rgb(41 34 53);
  --md-sys-color-secondary-container: rgb(150 141 164);
  --md-sys-color-on-secondary-container: rgb(0 0 0);
  --md-sys-color-tertiary: rgb(255 209 218);
  --md-sys-color-on-tertiary: rgb(62 26 37);
  --md-sys-color-tertiary-container: rgb(182 131 143);
  --md-sys-color-on-tertiary-container: rgb(0 0 0);
  --md-sys-color-error: rgb(255 210 204);
  --md-sys-color-on-error: rgb(84 0 3);
  --md-sys-color-error-container: rgb(255 84 73);
  --md-sys-color-on-error-container: rgb(0 0 0);
  --md-sys-color-background: rgb(21 18 24);
  --md-sys-color-on-background: rgb(231 224 232);
  --md-sys-color-surface: rgb(21 18 24);
  --md-sys-color-on-surface: rgb(255 255 255);
  --md-sys-color-surface-variant: rgb(73 69 78);
  --md-sys-color-on-surface-variant: rgb(225 218 229);
  --md-sys-color-outline: rgb(182 176 186);
  --md-sys-color-outline-variant: rgb(148 142 152);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(231 224 232);
  --md-sys-color-inverse-on-surface: rgb(44 41 47);
  --md-sys-color-inverse-primary: rgb(81 62 117);
  --md-sys-color-primary-fixed: rgb(235 220 255);
  --md-sys-color-on-primary-fixed: rgb(24 2 59);
  --md-sys-color-primary-fixed-dim: rgb(211 187 253);
  --md-sys-color-on-primary-fixed-variant: rgb(63 44 98);
  --md-sys-color-secondary-fixed: rgb(234 222 247);
  --md-sys-color-on-secondary-fixed: rgb(20 14 32);
  --md-sys-color-secondary-fixed-dim: rgb(205 194 219);
  --md-sys-color-on-secondary-fixed-variant: rgb(58 51 70);
  --md-sys-color-tertiary-fixed: rgb(255 217 224);
  --md-sys-color-on-tertiary-fixed: rgb(37 6 16);
  --md-sys-color-tertiary-fixed-dim: rgb(241 183 196);
  --md-sys-color-on-tertiary-fixed-variant: rgb(81 42 53);
  --md-sys-color-surface-dim: rgb(21 18 24);
  --md-sys-color-surface-bright: rgb(70 67 74);
  --md-sys-color-surface-container-lowest: rgb(8 7 11);
  --md-sys-color-surface-container-low: rgb(31 29 34);
  --md-sys-color-surface-container: rgb(41 39 45);
  --md-sys-color-surface-container-high: rgb(52 49 55);
  --md-sys-color-surface-container-highest: rgb(64 60 67);
}
