.light-medium-contrast {
  --md-sys-color-primary: rgb(63 44 98);
  --md-sys-color-surface-tint: rgb(104 84 141);
  --md-sys-color-on-primary: rgb(255 255 255);
  --md-sys-color-primary-container: rgb(119 99 157);
  --md-sys-color-on-primary-container: rgb(255 255 255);
  --md-sys-color-secondary: rgb(58 51 70);
  --md-sys-color-on-secondary: rgb(255 255 255);
  --md-sys-color-secondary-container: rgb(114 105 127);
  --md-sys-color-on-secondary-container: rgb(255 255 255);
  --md-sys-color-tertiary: rgb(81 42 53);
  --md-sys-color-on-tertiary: rgb(255 255 255);
  --md-sys-color-tertiary-container: rgb(143 96 108);
  --md-sys-color-on-tertiary-container: rgb(255 255 255);
  --md-sys-color-error: rgb(116 0 6);
  --md-sys-color-on-error: rgb(255 255 255);
  --md-sys-color-error-container: rgb(207 44 39);
  --md-sys-color-on-error-container: rgb(255 255 255);
  --md-sys-color-background: rgb(254 247 255);
  --md-sys-color-on-background: rgb(29 27 32);
  --md-sys-color-surface: rgb(254 247 255);
  --md-sys-color-on-surface: rgb(18 16 22);
  --md-sys-color-surface-variant: rgb(231 224 235);
  --md-sys-color-on-surface-variant: rgb(56 53 61);
  --md-sys-color-outline: rgb(85 81 90);
  --md-sys-color-outline-variant: rgb(112 107 117);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(50 47 53);
  --md-sys-color-inverse-on-surface: rgb(245 239 247);
  --md-sys-color-inverse-primary: rgb(211 187 253);
  --md-sys-color-primary-fixed: rgb(119 99 157);
  --md-sys-color-on-primary-fixed: rgb(255 255 255);
  --md-sys-color-primary-fixed-dim: rgb(94 74 131);
  --md-sys-color-on-primary-fixed-variant: rgb(255 255 255);
  --md-sys-color-secondary-fixed: rgb(114 105 127);
  --md-sys-color-on-secondary-fixed: rgb(255 255 255);
  --md-sys-color-secondary-fixed-dim: rgb(89 81 102);
  --md-sys-color-on-secondary-fixed-variant: rgb(255 255 255);
  --md-sys-color-tertiary-fixed: rgb(143 96 108);
  --md-sys-color-on-tertiary-fixed: rgb(255 255 255);
  --md-sys-color-tertiary-fixed-dim: rgb(116 72 83);
  --md-sys-color-on-tertiary-fixed-variant: rgb(255 255 255);
  --md-sys-color-surface-dim: rgb(202 196 204);
  --md-sys-color-surface-bright: rgb(254 247 255);
  --md-sys-color-surface-container-lowest: rgb(255 255 255);
  --md-sys-color-surface-container-low: rgb(248 241 250);
  --md-sys-color-surface-container: rgb(237 230 238);
  --md-sys-color-surface-container-high: rgb(225 219 227);
  --md-sys-color-surface-container-highest: rgb(214 208 215);
}
